@import url(../bootstrap/css/bootstrap.min.css);
@import url(../ionicons/css/ionicons.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Rubik:300,400,500,700");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  color: #3b4858;
  font-family: "Roboto"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik"; }

.well {
  background-color: #fff;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  border: none; }

.btn {
  transition: 0.5s; }

a {
  color: #1E91D6; }
  a:hover {
    color: #1873a9; }

a, p, input, button, span, label, .form-group, .form-control {
  font-size: 13px; }

.shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.margin-top-30 {
  margin-top: 30px; }

.margin-top-15 {
  margin-top: 15px; }

body {
  background: #E9EBEE; }

.oferta-laboral {
  margin-bottom: 10px; }
  .oferta-laboral .well {
    background: white;
    padding: 15px;
    margin: 0;
    overflow: auto;
    position: relative; }
    .oferta-laboral .well .empresa {
      display: flex; }
      .oferta-laboral .well .empresa .img {
        flex: 1;
        margin-right: 10px; }
      .oferta-laboral .well .empresa .nombre {
        flex: 15; }
        .oferta-laboral .well .empresa .nombre .compatibilidad {
          position: absolute;
          float: right;
          top: 10px;
          right: 10px; }
          .oferta-laboral .well .empresa .nombre .compatibilidad span {
            color: #666; }
        .oferta-laboral .well .empresa .nombre h4, .oferta-laboral .well .empresa .nombre h5 {
          margin: 0; }
        .oferta-laboral .well .empresa .nombre h4 {
          text-transform: none; }
        .oferta-laboral .well .empresa .nombre h4 {
          margin-bottom: 5px; }
        .oferta-laboral .well .empresa .nombre small {
          font-size: 11px;
          color: #1E91D6;
          text-transform: lowercase; }
    .oferta-laboral .well .zona {
      display: inline-block; }
    .oferta-laboral .well .aplicar {
      float: right; }
  .oferta-laboral.post hr {
    margin: 10px 0; }
  .oferta-laboral.post .descripcion {
    max-height: none;
    margin-bottom: 20px; }

.post {
  margin-bottom: 10px; }
  .post .well {
    background: white;
    padding: 15px;
    margin: 0;
    overflow: initial;
    position: relative; }
    .post .well .user {
      display: flex; }
      .post .well .user .img {
        flex: 1;
        margin-right: 10px; }
      .post .well .user .nombre {
        flex: 15; }
        .post .well .user .nombre h4, .post .well .user .nombre h5 {
          margin: 0; }
        .post .well .user .nombre h4 {
          text-transform: none; }
        .post .well .user .nombre h4 {
          margin-bottom: 5px; }
        .post .well .user .nombre small {
          font-size: 11px;
          color: #1E91D6;
          text-transform: lowercase; }
      .post .well .user .acciones-post {
        position: relative; }
        .post .well .user .acciones-post .pop {
          display: none;
          position: absolute;
          width: 160px;
          left: -80px;
          z-index: 4;
          text-align: center;
          padding: 8px;
          background: white;
          border: 1px solid #dedede;
          border-radius: 3px; }
        .post .well .user .acciones-post:hover .pop {
          display: block; }
    .post .well hr {
      margin: 5px 0; }
    .post .well .descripcion {
      margin: 10px 0; }
      .post .well .descripcion p {
        font-size: 22px;
        font-weight: 300; }
        .post .well .descripcion p.large {
          font-size: 14px; }

.user-profile {
  background: white;
  box-sizing: border-box;
  padding: 15px 10px;
  text-align: center; }
  .user-profile img {
    max-width: 80px;
    margin: auto;
    margin-bottom: 10px; }
  .user-profile h4 {
    font-weight: 400;
    font-size: 16px;
    margin: 3px 0; }
  .user-profile h6 {
    margin: 3px 0;
    margin-bottom: 10px; }
  .user-profile a {
    margin: 10px 0 0 0; }

.user-profile-min {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .user-profile-min .foto {
    flex: 1;
    padding-right: 10px; }
  .user-profile-min .info {
    flex: 5; }
    .user-profile-min .info h4 {
      font-size: 14px;
      font-weight: 300;
      margin: 0;
      line-height: 14px; }
    .user-profile-min .info h5 {
      margin: 0;
      font-size: 12px; }
    .user-profile-min .info small {
      font-size: 11px;
      color: #a0a0a0; }
    .user-profile-min .info .btn-link {
      background: none;
      color: #FF9900;
      text-decoration: underline;
      padding: 0;
      display: block;
      text-align: left; }
  .user-profile-min.well {
    padding: 5px; }

aside {
  margin-top: 20px; }
  aside .well {
    padding: 10px; }
    aside .well h6 {
      text-transform: uppercase;
      border-bottom: 1px solid #cdcdcd;
      padding-bottom: 5px;
      margin-bottom: 15px; }

.share {
  padding: 0;
  position: relative;
  display: inline-block; }
  .share li {
    display: inline-block;
    margin-right: 0px; }
    .share li a {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      font-size: 20px;
      justify-content: center;
      color: #3b4858; }
      .share li a:hover {
        background: #c8c8c8; }
    .share li.share-btn a, .share li.like-btn a {
      color: #FF9900; }
      .share li.share-btn a.active, .share li.like-btn a.active {
        background: #FF9900;
        color: white; }

.user-profile-horizontal {
  margin-bottom: 15px; }
  .user-profile-horizontal .well {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .user-profile-horizontal .well .info {
      display: flex;
      align-items: center; }
    .user-profile-horizontal .well .foto {
      max-width: 60px;
      margin-right: 10px; }
    .user-profile-horizontal .well .datos h4, .user-profile-horizontal .well .datos h6 {
      margin: 0;
      margin-bottom: 5px; }
    .user-profile-horizontal .well .datos h4 {
      font-size: 16px; }

.insignia {
  padding: 30px 15px 20px !important;
  position: relative; }
  .insignia .fav {
    position: absolute;
    right: 10px;
    top: 10px; }
    .insignia .fav .star {
      font-size: 18px;
      color: gold;
      position: relative; }
    .insignia .fav .fav-popover {
      padding: 10px;
      display: none;
      position: absolute;
      width: 200px;
      z-index: 3;
      transform: translateX(-50%);
      font-size: 11px;
      background: white;
      border: 1px solid #ddd; }
    .insignia .fav:hover .fav-popover {
      display: inline-block; }
  .insignia .profile-pic {
    max-width: 100px;
    margin: auto;
    border: 3px solid white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .insignia h5 {
    font-weight: 300; }
  .insignia .contactos {
    display: flex;
    padding: 0;
    justify-content: center;
    list-style: none;
    margin-top: 20px; }
    .insignia .contactos li {
      padding: 0 20px; }
      .insignia .contactos li:first-child {
        border-right: 1px solid #cacaca; }
      .insignia .contactos li .numero {
        display: block;
        font-size: 20px;
        font-weight: 300;
        text-align: center; }
  .insignia .busqueda .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px; }
    .insignia .busqueda .circle.activa {
      background: limegreen; }

.tile-postulante {
  text-align: center;
  border: 1px #ddd solid;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  background: white; }
  .tile-postulante h4, .tile-postulante p {
    margin: 1px 0; }
  .tile-postulante h4 {
    margin-top: 10px; }
  .tile-postulante .fav {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: #ddd; }
  .tile-postulante img {
    width: 80px;
    height: 80px;
    border: 3px solid white, 1px solid #666;
    margin: auto; }
  .tile-postulante .info {
    text-align: left; }
    .tile-postulante .info p {
      font-size: 12px; }

.like-list {
  padding: 0;
  list-style: none; }
  .like-list li {
    padding: 5px 0;
    border-bottom: 1px solid #efefef; }
    .like-list li:last-child {
      border: none; }
    .like-list li article {
      display: flex;
      align-items: center; }
      .like-list li article div {
        flex: 1;
        max-width: 30px;
        margin-right: 10px; }
      .like-list li article p {
        flex: 6;
        margin: 0; }

.btn-primary {
  background: #FF9900;
  border-top: #ffa31a;
  border-left: #ffad33;
  border-right: #e68a00;
  border-bottom: #f2f2f2;
  color: white; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: white;
    background: #cc7a00; }

.btn-secondary {
  background: #1E91D6;
  border-top: #2c9de1;
  border-left: #42a8e5;
  border-right: #1b82c0;
  border-bottom: #f2f2f2;
  color: white; }
  .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    color: white;
    background: #1873a9; }

.btn3 {
  background: #ddd;
  border-top: #eaeaea;
  border-left: #f7f7f7;
  border-right: #d0d0d0;
  border-bottom: #313c49;
  color: #3b4858; }
  .btn3:hover, .btn3:active, .btn3:focus {
    color: #3b4858;
    background: #c4c4c4; }

.btn-login {
  text-align: left;
  color: white;
  padding: 0;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  padding-bottom: 3px; }
  .btn-login span {
    padding: 0 10px 0 13px;
    font-size: 20px;
    position: relative;
    top: 3px;
    display: inline-block;
    width: 40px;
    text-align: center; }
  .btn-login.btn-facebook {
    background: #3b5998;
    border-top: #4c70ba;
    border-left: #4c70ba;
    border-right: #2d4373;
    border-bottom: #2d4373; }
  .btn-login.btn-linkedin {
    background: #007bb5;
    border-top: #009ee8;
    border-left: #009ee8;
    border-right: #005882;
    border-bottom: #005882; }
  .btn-login.btn-google {
    background: #dd4b39;
    border-top: #e47365;
    border-left: #e47365;
    border-right: #c23321;
    border-bottom: #c23321; }

.navbar-default {
  background: #FF9900;
  border-radius: 0;
  margin: 0;
  border: none; }
  .navbar-default .navbar-brand {
    padding: 8px; }
    .navbar-default .navbar-brand img {
      max-height: 100%; }
  .navbar-default .buscador .form-control {
    width: 380px; }
    .navbar-default .buscador .form-control .input-group-addon {
      background-color: white; }
  .navbar-default .navbar-right {
    margin-top: 8px; }
    .navbar-default .navbar-right .user {
      position: relative; }
      .navbar-default .navbar-right .user img {
        width: 35px;
        height: 35px;
        margin-right: 5px; }
      .navbar-default .navbar-right .user a {
        color: white; }
      .navbar-default .navbar-right .user .menu-user {
        position: absolute;
        border: 1px solid #cdcdcd;
        padding: 10px;
        border-radius: 5px;
        background: white;
        transform: translatex(-50%);
        left: 50%;
        margin-top: 10px; }
        .navbar-default .navbar-right .user .menu-user:before {
          content: "";
          width: 10px;
          height: 10px;
          border-top: 1px solid #cdcdcd;
          border-left: 1px solid #cdcdcd;
          background: white;
          position: absolute;
          top: -6px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg); }
        .navbar-default .navbar-right .user .menu-user ul {
          list-style: none;
          padding: 0;
          min-width: 180px;
          z-index: 99999; }
          .navbar-default .navbar-right .user .menu-user ul li {
            padding: 5px 30px;
            font-size: 12px; }
            .navbar-default .navbar-right .user .menu-user ul li.title {
              text-transform: uppercase;
              font-weight: 300; }
              .navbar-default .navbar-right .user .menu-user ul li.title a {
                font-size: 14px !important; }
            .navbar-default .navbar-right .user .menu-user ul li.divider {
              border-top: 1px solid #dedede;
              height: 0;
              padding: 0;
              margin: 4px 0; }
            .navbar-default .navbar-right .user .menu-user ul li a {
              color: #3b4858; }
              .navbar-default .navbar-right .user .menu-user ul li a:hover {
                font-weight: bold;
                text-decoration: none; }
              .navbar-default .navbar-right .user .menu-user ul li a.selected {
                color: #FF9900; }
            .navbar-default .navbar-right .user .menu-user ul li .page-brand {
              max-width: 30px;
              margin-right: 5px; }

.wall h3 {
  margin: 40px 0; }

.numeros .numero, .numeros .numero_dato {
  display: block;
  font-size: 30px;
  font-family: "Rubik";
  font-weight: 700;
  text-align: center;
  line-height: 30px; }
.numeros .numero_dato {
  font-size: 16px;
  font-weight: 300;
  color: #999999;
  line-height: 20px; }

.categorias {
  padding: 0;
  list-style: none; }
  .categorias li {
    border-bottom: 1px solid #ddd;
    padding: 8px 0; }

.oferta-laboral {
  padding-bottom: 10px; }
  .oferta-laboral .empresa {
    display: flex;
    margin-bottom: 10px;
    min-height: 40px;
    align-items: center; }
    .oferta-laboral .empresa .img {
      flex: 1; }
      .oferta-laboral .empresa .img img {
        max-width: 50px;
        max-height: 35px; }
    .oferta-laboral .empresa .nombre {
      flex: 5;
      text-transform: uppercase; }
      .oferta-laboral .empresa .nombre h4 {
        font-size: 16px;
        line-height: 18px; }
      .oferta-laboral .empresa .nombre h5 {
        font-weight: 400;
        line-height: 10px; }
  .oferta-laboral .descripcion {
    max-height: 70px;
    position: relative;
    overflow: hidden;
    color: #647a95;
    font-weight: 300; }
    .oferta-laboral .descripcion .overlay {
      height: 30px;
      position: absolute;
      width: 100%;
      bottom: 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.12) 9%, white 66%, white 72%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.12) 9%, white 66%, white 72%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.12) 9%, white 66%, white 72%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); }

footer {
  background: #3b4858;
  color: white;
  padding: 40px 0 0 0;
  font-family: "Rubik";
  border-top: 3px solid #272f39;
  margin-top: 30px; }
  footer h5 {
    font-size: 16px;
    text-transform: uppercase; }
  footer ul {
    padding: 0;
    list-style: none; }
    footer ul li {
      padding: 2px 0; }
      footer ul li a {
        color: #bec8d4;
        transition: .5s; }
        footer ul li a:hover, footer ul li a:active, footer ul li a:focus {
          color: white;
          text-decoration: none; }
    footer ul.flags li {
      max-width: 30px;
      margin-right: 10px;
      display: inline-block; }
      footer ul.flags li img {
        max-width: 100%;
        border-radius: 3px; }
    footer ul.social li {
      display: inline-block;
      margin-right: 10px; }
      footer ul.social li a {
        transition: 0.5s;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        font-size: 20px;
        justify-content: center;
        background: rgba(255, 255, 255, 0.7);
        color: #3b4858; }
        footer ul.social li a:hover {
          background: white;
          transform: scale(1.1); }
  footer .foot {
    margin-top: 20px;
    background: #272f39; }
    footer .foot ul li {
      display: inline-block;
      margin: 10px 10px 10px 0;
      font-size: 12px; }

.modal .modal-dialog .modal-content {
  background-color: white;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border: none; }
  .modal .modal-dialog .modal-content .modal-header {
    background-color: #004E64; }
    .modal .modal-dialog .modal-content .modal-header h4, .modal .modal-dialog .modal-content .modal-header h5 {
      color: white;
      font-weight: 300; }

body, html {
  height: 100%; }

#screen-login {
  background: url("../imagenes/header_login.jpg");
  background-size: cover; }
  #screen-login .login {
    position: relative;
    top: 50%;
    transform: translatey(-50%); }
    #screen-login .login .logo {
      max-width: 130px;
      margin: auto;
      display: block;
      margin-bottom: 20px; }

#screen-login2 {
  background: url("../imagenes/header_login.jpg");
  background-size: cover; }
  #screen-login2 .login {
    position: relative;
    top: 50%;
    transform: translatey(-50%); }
    #screen-login2 .login .logo {
      max-width: 130px;
      margin: auto;
      display: block;
      margin-bottom: 20px; }
  #screen-login2 .social {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    #screen-login2 .social a {
      width: 28%;
      text-align: center; }
      #screen-login2 .social a span {
        font-size: 25px; }
  #screen-login2 .btn-info {
    background: #177E89; }
  #screen-login2 input.error {
    border: 1px solid #c62828; }
  #screen-login2 small {
    font-size: 11px;
    color: #c62828; }
    #screen-login2 small a {
      font-size: 11px; }

#create-account .flow article {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #ccc; }
  #create-account .flow article.active {
    border-bottom: 3px solid #1E91D6; }
  #create-account .flow article.success {
    border-bottom: 3px solid #FF9900; }
    #create-account .flow article.success h4, #create-account .flow article.success h6 {
      color: #ccc; }
#create-account .areas .label-default {
  font-size: 13px;
  font-weight: 300;
  padding: 5px 5px 5px 10px;
  margin-right: 7px;
  margin-bottom: 10px;
  display: inline-block; }
  #create-account .areas .label-default span {
    margin: 0 5px;
    font-size: 11px;
    position: relative;
    top: 1px; }
#create-account #subir-cv .modal-dialog {
  width: 320px; }
  #create-account #subir-cv .modal-dialog a {
    text-align: left;
    margin-bottom: 10px;
    padding-top: 5px; }
    #create-account #subir-cv .modal-dialog a span {
      font-size: 20px;
      margin: 0 10px 0 0;
      position: relative;
      top: 2px; }
#create-account .subir-cv a {
  text-align: left;
  display: flex;
  margin: 10px 0; }
  #create-account .subir-cv a span {
    font-size: 40px;
    margin: 0 20px 0 10px;
    color: #004E64; }
  #create-account .subir-cv a.upload {
    position: relative; }
    #create-account .subir-cv a.upload input {
      position: absolute;
      display: inline-block;
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10000; }
#create-account .pegar-cv {
  min-height: 150px; }

.table-list .table {
  padding: 0;
  background: white;
  list-style: none; }
  .table-list .table ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    padding: 5px;
    margin: 0;
    border-top: 1px solid #ededed;
    transition: .5s; }
    .table-list .table ul:first-child {
      align-items: center; }
    .table-list .table ul li {
      flex: 2;
      padding: 3px;
      text-align: center; }
      .table-list .table ul li.large {
        flex: 5;
        text-align: left; }
      .table-list .table ul li p {
        margin: 0; }
        .table-list .table ul li p small {
          font-size: 10px;
          color: #aaa;
          margin-right: 3px; }
    .table-list .table ul.title {
      background: #1E91D6;
      padding-left: 10px; }
      .table-list .table ul.title li p {
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        color: white; }
      .table-list .table ul.title li span {
        display: inline-block;
        margin-left: 10px; }
    .table-list .table ul.total {
      padding-left: 10px;
      background: #efefef !important;
      border-bottom: 1px solid #e0e0e0; }
    .table-list .table ul.general {
      padding-left: 10px;
      background: white;
      border-top: 1px solid white; }
    .table-list .table ul.level2 li:first-child p {
      padding-left: 30px; }
    .table-list .table ul.level3 li:first-child p {
      padding-left: 60px; }
  .table-list .table.with-options ul li:last-child {
    flex: 1; }
  .table-list .table.with-options ul li .options {
    position: relative;
    display: block; }
    .table-list .table.with-options ul li .options .menu {
      position: absolute;
      padding: 5px 10px;
      z-index: 10;
      transform: translate(-50%);
      margin-left: 50%;
      border-radius: 4px;
      top: 30px;
      min-width: 100px;
      background: white;
      border: 1px solid #dedede; }
      .table-list .table.with-options ul li .options .menu:after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background: white;
        position: absolute;
        top: -3px;
        left: 50%;
        transform: rotate(45deg) translatex(-50%);
        border-top: 1px solid #dedede;
        border-left: 1px solid #dedede; }
      .table-list .table.with-options ul li .options .menu ul {
        padding: 0;
        list-style: none;
        display: block;
        border: none; }
        .table-list .table.with-options ul li .options .menu ul li {
          padding: 5px 0;
          background: white;
          display: block; }
  .table-list .table.select ul:not(.title):hover {
    background: #e1f5fe;
    cursor: pointer; }
.table-list.double {
  overflow-x: scroll; }
  .table-list.double .table {
    width: 200%; }

#cv h6 {
  text-transform: uppercase; }
#cv .datos-personales .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 300;
  box-shadow: none;
  padding: 0;
  height: 36px; }
#cv .datos-personales label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300; }

#buscador {
  position: relative; }
  #buscador .resultados {
    position: absolute;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    background: white; }
    #buscador .resultados ul {
      list-style: none;
      padding: 0; }
      #buscador .resultados ul li {
        border-bottom: 1px solid #ddd;
        padding: 7px 10px;
        transition: .5s; }
        #buscador .resultados ul li.titulo {
          border: none; }
          #buscador .resultados ul li.titulo h6 {
            text-transform: uppercase; }
            #buscador .resultados ul li.titulo h6 small {
              float: right; }
        #buscador .resultados ul li:hover {
          cursor: pointer;
          background: #ededed; }
        #buscador .resultados ul li:last-child {
          border: none; }
        #buscador .resultados ul li article {
          display: flex;
          align-items: center; }
          #buscador .resultados ul li article .img {
            flex: 1;
            margin-right: 15px; }
            #buscador .resultados ul li article .img img {
              max-width: 100%; }
          #buscador .resultados ul li article .info {
            flex: 10; }
            #buscador .resultados ul li article .info h4 {
              margin: 0;
              font-size: 15px;
              font-weight: 400;
              margin-bottom: 2px; }
            #buscador .resultados ul li article .info h5 {
              margin: 0;
              color: #4f6177;
              font-size: 13px;
              font-weight: 300;
              margin-top: 2px; }

#resultado-busqueda {
  background: #f5f5f5; }
  #resultado-busqueda .well {
    background: white;
    padding: 15px;
    margin: 0;
    overflow: auto;
    position: relative; }
  #resultado-busqueda .separador {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  #resultado-busqueda h3 {
    margin: 30px 0; }
  #resultado-busqueda .filtros article {
    margin-bottom: 30px; }
    #resultado-busqueda .filtros article h6 {
      text-transform: uppercase;
      background: #004e64;
      color: white;
      padding: 5px;
      font-weight: 400; }
    #resultado-busqueda .filtros article ul {
      list-style: none;
      padding: 0; }
      #resultado-busqueda .filtros article ul li {
        text-transform: uppercase;
        padding: 5px 0;
        font-size: 11px; }
        #resultado-busqueda .filtros article ul li small {
          color: #aaa;
          margin-left: 5px;
          font-size: 11px; }
  #resultado-busqueda .filtros-activos .label-default {
    font-size: 13px;
    font-weight: 300;
    padding: 5px 5px 5px 10px;
    margin-right: 7px;
    margin-bottom: 10px;
    display: inline-block;
    color: #333;
    background: white;
    border: 1px solid white; }
    #resultado-busqueda .filtros-activos .label-default span {
      margin: 0 5px;
      font-size: 11px;
      position: relative;
      top: 1px; }
  #resultado-busqueda .ordenar p {
    margin: 5px 0 0 0; }
  #resultado-busqueda .ordenar form {
    text-align: right; }
    #resultado-busqueda .ordenar form label {
      font-weight: 400;
      color: #647a95; }
    #resultado-busqueda .ordenar form select {
      border: none;
      background: none;
      box-shadow: none;
      position: relative;
      top: -2px;
      font-weight: 700; }
  #resultado-busqueda h2 {
    color: #004E64;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    border-bottom: 1px #004E64 solid; }
  #resultado-busqueda .title-search {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #resultado-busqueda .title-search h4 {
      text-transform: uppercase;
      font-size: 14px; }
    #resultado-busqueda .title-search .ver-todos {
      text-transform: uppercase;
      font-size: 11px; }

#anuncio aside .social {
  display: flex;
  list-style: none;
  padding: 0; }
  #anuncio aside .social li {
    margin-right: 20px; }
    #anuncio aside .social li span {
      background: #FF9900;
      color: white;
      display: inline-block;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 50%;
      font-size: 18px; }
#anuncio aside .enviar {
  text-align: left;
  line-height: 18px; }
  #anuncio aside .enviar span {
    font-size: 18px;
    margin-right: 10px;
    color: #aaa;
    position: relative;
    top: 2px;
    padding-bottom: 40px; }

#timeline .create {
  margin-top: 20px;
  padding: 1px 20px;
  overflow: auto; }
  #timeline .create .create-post {
    padding: 0;
    display: inline-block; }
    #timeline .create .create-post li {
      list-style: none;
      display: inline-block;
      margin-right: 10px; }
      #timeline .create .create-post li span {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #dcdcdc;
        font-size: 20px;
        background: white; }
  #timeline .create textarea {
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    padding: 15px; }
  #timeline .create .form-group {
    margin: 0; }
  #timeline .create .post {
    float: right; }
#timeline article .why {
  color: #aaa;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
  text-align: left;
  margin-bottom: 5px; }

.recomendados-amigos {
  display: flex; }
  .recomendados-amigos article {
    margin-right: 20px;
    min-width: 172px; }

.skills span {
  border: 1px solid #aeaeae;
  padding: 8px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px; }
.skills .s1 {
  font-size: 22px; }
.skills .s2 {
  font-size: 18px; }

.comments .comment-data {
  display: flex; }
  .comments .comment-data .img {
    flex: 1; }
    .comments .comment-data .img img {
      width: 100%; }
  .comments .comment-data .nombre {
    flex: 10;
    padding: 0 10px; }
    .comments .comment-data .nombre h5 {
      margin: 2px 0; }
    .comments .comment-data .nombre small {
      color: #aaa;
      margin-bottom: 10px;
      display: block; }
  .comments .comment-data .actions small {
    display: inline-block;
    color: #FF9900; }

.notification {
  margin-bottom: 30px; }

.crear-anuncio {
  margin: 10px 0;
  padding: 10px 0; }

/* MURO */
.menu-lateral {
  padding: 0;
  list-style: none; }
  .menu-lateral li {
    margin: 10px 0;
    padding: 5px; }
    .menu-lateral li.selected {
      border: 1px solid #d4d4d4;
      background: rgba(255, 255, 255, 0.5); }

#dashboard-empresa-all .datos .profile {
  display: block;
  max-width: 150px;
  margin: auto;
  position: relative; }
  #dashboard-empresa-all .datos .profile .config-btn {
    position: absolute;
    font-size: 22px;
    left: 50%;
    top: 50%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    display: none; }
  #dashboard-empresa-all .datos .profile:hover .config-btn {
    display: flex; }
#dashboard-empresa-all .datos .items {
  margin-bottom: 20px; }
  #dashboard-empresa-all .datos .items p {
    margin-bottom: 5px; }
    #dashboard-empresa-all .datos .items p.titulo {
      text-transform: uppercase;
      margin-bottom: 5px; }
      #dashboard-empresa-all .datos .items p.titulo span {
        margin-left: 10px; }
    #dashboard-empresa-all .datos .items p .actions {
      display: none;
      margin-left: 10px; }
      #dashboard-empresa-all .datos .items p .actions span {
        margin-right: 5px; }
        #dashboard-empresa-all .datos .items p .actions span.fa-trash {
          color: red; }
    #dashboard-empresa-all .datos .items p:hover .actions {
      display: inline-block; }
#dashboard-empresa-all .emails-timeline ul {
  padding: 0;
  list-style: none; }
  #dashboard-empresa-all .emails-timeline ul li {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc; }
    #dashboard-empresa-all .emails-timeline ul li a {
      color: #3b4858; }
    #dashboard-empresa-all .emails-timeline ul li .actions span {
      margin: 0 4px;
      font-size: 15px; }
#dashboard-empresa-all .setvar {
  display: none; }
  #dashboard-empresa-all .setvar div {
    display: flex;
    align-items: center; }
    #dashboard-empresa-all .setvar div label, #dashboard-empresa-all .setvar div input, #dashboard-empresa-all .setvar div select {
      margin-right: 10px; }

#dashboard-empresa .creditos {
  padding-bottom: 15px; }
  #dashboard-empresa .creditos h5 {
    margin: 0; }
  #dashboard-empresa .creditos .big {
    font-size: 50px;
    font-weight: 300;
    margin: 5px 0; }
  #dashboard-empresa .creditos hr {
    margin: 10px 0 15px 0; }
#dashboard-empresa .numeros {
  display: flex;
  align-items: stretch; }
  #dashboard-empresa .numeros .dato {
    flex: 1;
    padding: 10px; }

.listado-postulantes {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }
  .listado-postulantes .postulante {
    margin-bottom: 10px;
    padding: 10px;
    min-width: 280px; }

.timeline2 {
  padding: 0;
  display: flex;
  list-style: none; }
  .timeline2 li {
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative; }
    .timeline2 li .postulante {
      position: absolute;
      width: 500px;
      display: none;
      opacity: 0;
      transition: 1s;
      background: white;
      z-index: 999;
      transform: translatey(100%);
      bottom: 0px;
      border: 1px solid #ddd; }
      .timeline2 li .postulante:before {
        width: 15px;
        height: 15px;
        content: "";
        display: inline-block;
        transform: rotate(45deg) translateX(-50%);
        top: -2px;
        z-index: 999;
        background: white;
        border-top: 1px solid #cdcdcd;
        border-left: 1px solid #cdcdcd;
        position: absolute; }
      .timeline2 li .postulante .historia, .timeline2 li .postulante .tile-postulante {
        width: 50%;
        border: none;
        box-sizing: border-box;
        float: left;
        height: 100%; }
      .timeline2 li .postulante .tile-postulante {
        border-right: 1px solid #cdcdcd; }
      .timeline2 li .postulante .historia {
        text-align: left;
        padding: 15px;
        font-size: 12px; }
        .timeline2 li .postulante .historia .historial {
          padding: 0; }
          .timeline2 li .postulante .historia .historial li {
            justify-content: left;
            height: auto; }
    .timeline2 li:hover .postulante {
      display: block;
      opacity: 1; }
  .timeline2.title p {
    margin: 10px 0;
    font-weight: bold; }
  .timeline2.flow {
    position: relative;
    border-bottom: 1px solid #bbb;
    padding: 10px 0;
    margin-bottom: 10px 0; }
    .timeline2.flow:after {
      content: "";
      border-top: 1px dashed #dcdcdc;
      position: absolute;
      width: 100%;
      top: 50%;
      z-index: -1; }
    .timeline2.flow img {
      border: 3px solid white;
      position: relative;
      box-shadow: 0 0 2px #ccc; }
    .timeline2.flow .pin {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #cdcdcd;
      display: inline-block;
      font-size: 14px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center; }
      .timeline2.flow .pin.mini {
        width: 15px;
        height: 15px;
        font-size: 11px; }
      .timeline2.flow .pin.ok {
        background: limegreen; }
      .timeline2.flow .pin.warning {
        background: gold; }
      .timeline2.flow .pin.out {
        background: red; }
      .timeline2.flow .pin.waiting {
        background: orange; }
      .timeline2.flow .pin.action {
        background: DodgerBlue; }
      .timeline2.flow .pin.absolute {
        position: absolute;
        top: 45px; }
    .timeline2.flow .pruebas {
      display: block;
      padding: 0; }
      .timeline2.flow .pruebas li {
        display: block;
        text-align: left; }
        .timeline2.flow .pruebas li span {
          display: inline-block; }
    .timeline2.flow .img-profile-tl {
      max-width: 60px; }
    .timeline2.flow li:first-child {
      text-align: left;
      padding-left: 10px;
      justify-content: flex-start; }
      .timeline2.flow li:first-child span {
        margin-left: 10px; }

.timeline {
  padding: 0;
  display: flex;
  list-style: none; }
  .timeline li {
    flex: 1;
    text-align: center; }
    .timeline li ul {
      padding: 0;
      list-style: none; }
      .timeline li ul li {
        margin: 10px 0;
        position: relative;
        height: 40px; }
        .timeline li ul li img {
          border: 2px solid white; }
        .timeline li ul li .postulante {
          position: absolute;
          width: 500px;
          display: flex none;
          opacity: 0;
          transition: 1s;
          background: white;
          z-index: 999;
          transform: translateX(-50%) translatey(100%);
          margin-left: 50%;
          bottom: 0px;
          border: 1px solid #ddd; }
          .timeline li ul li .postulante:before {
            width: 15px;
            height: 15px;
            content: "";
            display: inline-block;
            transform: rotate(45deg) translateX(-50%);
            top: -2px;
            z-index: 999;
            background: white;
            border-top: 1px solid #cdcdcd;
            border-left: 1px solid #cdcdcd;
            position: absolute; }
          .timeline li ul li .postulante .historia, .timeline li ul li .postulante .tile-postulante {
            width: 50%;
            border: none;
            box-sizing: border-box;
            float: left;
            height: 100%; }
          .timeline li ul li .postulante .tile-postulante {
            border-right: 1px solid #cdcdcd; }
          .timeline li ul li .postulante .historia {
            text-align: left;
            padding: 15px;
            font-size: 12px; }
            .timeline li ul li .postulante .historia .historial li {
              text-align: left;
              height: auto; }
        .timeline li ul li:hover .postulante {
          display: block;
          opacity: 1; }

.modal-cv h3 {
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px; }
.modal-cv ul li {
  margin-bottom: 20px; }
  .modal-cv ul li h6, .modal-cv ul li h4, .modal-cv ul li h5 {
    margin: 2px 0; }
  .modal-cv ul li h5, .modal-cv ul li h6 {
    font-weight: 400; }
  .modal-cv ul li h4 {
    font-size: 15px;
    text-transform: uppercase; }

#timeline-user .timeline-user {
  position: relative; }
  #timeline-user .timeline-user > li {
    margin-bottom: 50px; }
    #timeline-user .timeline-user > li:first-child {
      list-style: none;
      left: -57px;
      position: relative;
      margin-bottom: 0; }
      #timeline-user .timeline-user > li:first-child img {
        border: 2px solid #3c4959; }
  #timeline-user .timeline-user:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: #3c4959;
    left: 25px;
    top: 14px; }
#timeline-user .cv {
  margin-top: 30px; }
  #timeline-user .cv div {
    float: right; }
  #timeline-user .cv span {
    font-size: 30px; }

#mailing .well {
  box-shadow: none;
  border: 1px solid #dcdcdc; }
#mailing .mensajes-predefinidos {
  padding: 0; }
  #mailing .mensajes-predefinidos ul {
    list-style: none;
    border-right: 1px solid #dcdcdc;
    padding: 0; }
    #mailing .mensajes-predefinidos ul li {
      padding: 15px;
      border-bottom: 1px solid #dcdcdc; }
      #mailing .mensajes-predefinidos ul li:first-child {
        background: #DDD;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center; }

@keyframes late {
  50% {
    transform: scale(1.1); } }
.header {
  display: flex;
  justify-content: space-between; }

#usuario-postulaciones .postulacion {
  padding-bottom: 0; }
  #usuario-postulaciones .postulacion h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 3px 0; }
  #usuario-postulaciones .postulacion .empresa {
    display: flex;
    align-items: center; }
    #usuario-postulaciones .postulacion .empresa .logo {
      flex: 1;
      margin-right: 5px; }
    #usuario-postulaciones .postulacion .empresa .nombre {
      flex: 6; }
      #usuario-postulaciones .postulacion .empresa .nombre h4 {
        font-size: 14px;
        margin: 0; }
  #usuario-postulaciones .postulacion h5 {
    font-size: 13px;
    font-weight: 300; }
  #usuario-postulaciones .postulacion .proceso {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 30px 0;
    justify-content: space-between; }
    #usuario-postulaciones .postulacion .proceso li {
      position: relative;
      width: 100%;
      text-align: center; }
      #usuario-postulaciones .postulacion .proceso li:before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background: #DDD;
        position: absolute;
        border-radius: 50%;
        z-index: 999; }
      #usuario-postulaciones .postulacion .proceso li:not(:last-child):after {
        content: "";
        display: inline-block;
        height: 5px;
        top: 5px;
        width: 100%;
        position: absolute;
        background: #ddd; }
      #usuario-postulaciones .postulacion .proceso li.ok:before {
        background: limegreen; }
      #usuario-postulaciones .postulacion .proceso li.ok:after {
        background: limegreen; }
      #usuario-postulaciones .postulacion .proceso li.en-curso:before {
        background: #00A5CF;
        animation-name: late;
        animation-duration: 1s;
        animation-iteration-count: infinite; }
      #usuario-postulaciones .postulacion .proceso li span {
        display: none;
        position: absolute;
        top: 30px;
        background: #ddd;
        padding: 5px;
        width: 150px;
        transform: translateX(-50%);
        border-radius: 3px;
        text-align: center; }
        #usuario-postulaciones .postulacion .proceso li span:after {
          content: "";
          width: 10px;
          height: 10px;
          background: #ddd;
          transform: rotate(45deg);
          top: -5px;
          left: 50%;
          position: absolute;
          display: inline-block; }
      #usuario-postulaciones .postulacion .proceso li:hover span {
        display: inline-block; }
  #usuario-postulaciones .postulacion footer {
    border-top: 1px solid #ddd;
    background: none;
    padding: 0;
    margin-top: 40px;
    margin-right: -25px;
    margin-left: -25px; }
    #usuario-postulaciones .postulacion footer ul {
      padding: 0;
      display: flex; }
      #usuario-postulaciones .postulacion footer ul li {
        flex: 1;
        text-align: center;
        padding: 10px;
        color: #343434;
        font-size: 12px; }
        #usuario-postulaciones .postulacion footer ul li:first-child {
          border-right: 1px solid #ddd; }

#comprar-credito .header-comprar-creditos {
  background: url("../imagenes/comprar_creditos.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center; }
  #comprar-credito .header-comprar-creditos h2 {
    font-size: 40px;
    text-transform: uppercase;
    max-width: 750px;
    margin: auto; }
#comprar-credito .mejores-postulantes {
  padding: 20px;
  text-align: center;
  color: #004E64; }
  #comprar-credito .mejores-postulantes a {
    margin: 10px 0;
    font-family: "Rubik"; }
#comprar-credito .sp1, #comprar-credito .sp2, #comprar-credito .sp3 {
  padding: 40px; }
  #comprar-credito .sp1 p, #comprar-credito .sp2 p, #comprar-credito .sp3 p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px; }
#comprar-credito .sp1, #comprar-credito .sp3 {
  background: url("../imagenes/sp1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px; }
  #comprar-credito .sp1 p, #comprar-credito .sp3 p {
    color: white;
    font-weight: 500; }
#comprar-credito .sp2 {
  padding: 100px 0; }
  #comprar-credito .sp2 p {
    font-family: "Rubik";
    text-align: center;
    max-width: 750px;
    margin: auto;
    font-size: 22px;
    line-height: 30px;
    color: #004E64;
    font-weight: 700; }
#comprar-credito .sp3 {
  background: url("../imagenes/sp3.jpg"); }
#comprar-credito .comprar {
  padding: 50px 0;
  background: white; }
#comprar-credito .mercadopago {
  justify-content: center;
  align-items: center; }
  #comprar-credito .mercadopago img {
    width: 100px;
    margin: 0 10px; }
  #comprar-credito .mercadopago h5 {
    display: inline-block; }

.flex {
  display: flex;
  align-items: center; }
  .flex article {
    flex: 1; }

#valuacion-actores .anonima {
  margin: 40px 0;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding: 15px; }
  #valuacion-actores .anonima input {
    margin-top: 14px; }
#valuacion-actores .preguntas > li {
  margin: 50px 0; }
  #valuacion-actores .preguntas > li .pregunta {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0; }
  #valuacion-actores .preguntas > li .small {
    margin-top: 10px; }
#valuacion-actores .estrellas {
  display: flex;
  padding: 0;
  margin: 10px 0;
  list-style: none;
  align-items: center; }
  #valuacion-actores .estrellas li {
    margin-right: 10px; }
    #valuacion-actores .estrellas li span {
      font-size: 50px;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      color: white; }
    #valuacion-actores .estrellas li:last-child {
      margin-left: 20px; }

#alta-aviso .tipo-anuncios ul {
  list-style: none;
  margin-bottom: 20px; }
#alta-aviso .comprar-creditos {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center; }
  #alta-aviso .comprar-creditos h4, #alta-aviso .comprar-creditos h2 {
    margin: 0; }

#alta-aviso-settings .pregunta {
  margin: 30px 0; }
  #alta-aviso-settings .pregunta .flex {
    list-style: none;
    display: flex;
    padding: 0; }
    #alta-aviso-settings .pregunta .flex li {
      flex: 1;
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
      text-align: center; }
      #alta-aviso-settings .pregunta .flex li input {
        display: block; }
  #alta-aviso-settings .pregunta .label {
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    display: inline-block; }
    #alta-aviso-settings .pregunta .label .glyphicon {
      font-size: 10px; }

#institucional header {
  padding: 100px 0;
  background: #FF9900;
  color: white; }
  #institucional header .birpin {
    max-width: 150px; }
  #institucional header h1 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    display: block; }
    #institucional header h1:before {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background: white;
      margin-bottom: 15px; }
  #institucional header .print {
    float: right; }

#validar-email .reingresar {
  display: none; }
#validar-email .reenviado {
  display: none; }

#forgot-password {
  background: url("../imagenes/header_login.jpg"); }
  #forgot-password .logo {
    max-width: 150px;
    display: block;
    margin: 40px auto; }
  #forgot-password h5 {
    margin-top: 30px;
    margin-bottom: 30px; }

@media only screen {
  @-ms-viewport {
    width: device-width; } }
.line {
  overflow: hidden;
  text-align: center; }
  .line:after, .line:before {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%; }
  .line:before {
    right: 0.5em;
    margin-left: -50%; }
  .line:after {
    left: 0.5em;
    margin-right: -50%; }

header {
  background: url("../imagenes/header_home.jpg");
  background-size: cover;
  padding: 150px 0;
  background-position-y: -100px; }
  header h2 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
    header h2 small {
      color: white; }

.buscador-header {
  display: flex; }
  .buscador-header input {
    border-radius: 0;
    flex: 1;
    border: none;
    font-family: "Rubik";
    font-weight: 300;
    font-size: 15px;
    box-shadow: none; }
    .buscador-header input[type=text] {
      flex: 2;
      padding-left: 0;
      border-left: 0; }
      .buscador-header input[type=text]:first-child {
        border-right: 1px solid #ccc; }
  .buscador-header span {
    background: white;
    border: none;
    font-size: 22px;
    padding: 10px;
    min-width: 40px;
    color: #bbb;
    box-shadow: none; }
    .buscador-header span.divider {
      min-width: 1px;
      border-left: 1px solid #ccc;
      padding: 0; }

.margintop20 {
  margin-top: 20px; }

.clearfix {
  overflow: auto; }

.mini-pin {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #cdcdcd;
  color: white;
  display: inline-block; }
  .mini-pin.ok {
    background: limegreen; }
  .mini-pin.warning {
    background: gold; }
  .mini-pin.out {
    background: red; }
  .mini-pin.waiting {
    background: orange; }
  .mini-pin.action {
    background: DodgerBlue; }

.semaforo span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  border: 1px solid white; }
  .semaforo span.ok {
    background: #196719; }
    .semaforo span.ok.on {
      background: limegreen;
      box-shadow: 0 0 10px limegreen; }
  .semaforo span.warning {
    background: #806c00; }
    .semaforo span.warning.on {
      background: gold;
      box-shadow: 0 0 10px gold; }
  .semaforo span.out {
    background: maroon; }
    .semaforo span.out.on {
      background: red;
      box-shadow: 0 0 10px red; }
.semaforo.mini span {
  width: 10px;
  height: 10px; }

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center; }

.blanco {
  color: white; }

.texto-rojo {
  color: red; }

.texto-verde {
  color: limegreen; }

.alert-context {
  padding: 10px;
  border-radius: 3px; }
  .alert-context p {
    margin: 0; }

/*# sourceMappingURL=style.css.map */
