@import url(../bootstrap/css/bootstrap.min.css);
@import url(../ionicons/css/ionicons.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Rubik:300,400,500,700");
body {
  color: #3b4858;
  font-family: "Roboto"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik"; }

.well {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border: none; }

.btn {
  transition: 0.5s; }

a {
  color: #1E91D6; }
  a:hover {
    color: #1873a9; }

a, p, input, button, span, label, .btn, .form-group, .form-control {
  font-size: 13px; }

.shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.btn-primary {
  background: #FF9900;
  border-top: #ffa31a;
  border-left: #ffad33;
  border-right: #e68a00;
  border-bottom: #f2f2f2;
  color: white; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: white;
    background: #cc7a00; }

.btn-secondary {
  background: #1E91D6;
  border-top: #2c9de1;
  border-left: #42a8e5;
  border-right: #1b82c0;
  border-bottom: #f2f2f2;
  color: white; }
  .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    color: white;
    background: #1873a9; }

.btn3 {
  background: #ddd;
  border-top: #eaeaea;
  border-left: #f7f7f7;
  border-right: #d0d0d0;
  border-bottom: #313c49;
  color: #3b4858; }
  .btn3:hover, .btn3:active, .btn3:focus {
    color: #3b4858;
    background: #c4c4c4; }

.btn-login {
  text-align: left;
  color: white;
  padding: 0;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  padding-bottom: 3px; }
  .btn-login span {
    padding: 0 10px 0 13px;
    font-size: 20px;
    position: relative;
    top: 3px;
    display: inline-block;
    width: 40px;
    text-align: center; }
  .btn-login.btn-facebook {
    background: #3b5998;
    border-top: #4c70ba;
    border-left: #4c70ba;
    border-right: #2d4373;
    border-bottom: #2d4373; }
  .btn-login.btn-linkedin {
    background: #007bb5;
    border-top: #009ee8;
    border-left: #009ee8;
    border-right: #005882;
    border-bottom: #005882; }
  .btn-login.btn-google {
    background: #dd4b39;
    border-top: #e47365;
    border-left: #e47365;
    border-right: #c23321;
    border-bottom: #c23321; }

.navbar-default {
  background: #FF9900;
  border-radius: 0;
  margin: 0;
  border: none; }
  .navbar-default .navbar-brand {
    padding: 8px; }
    .navbar-default .navbar-brand img {
      max-height: 100%; }
  .navbar-default .buscador .form-control {
    width: 380px; }
    .navbar-default .buscador .form-control .input-group-addon {
      background-color: white; }
  .navbar-default .navbar-right {
    margin-top: 8px; }

.wall h3 {
  margin: 40px 0; }

.numeros .numero, .numeros .numero_dato {
  display: block;
  font-size: 30px;
  font-family: "Rubik";
  font-weight: 700;
  text-align: center;
  line-height: 30px; }
.numeros .numero_dato {
  font-size: 16px;
  font-weight: 300;
  color: #999999;
  line-height: 20px; }

.categorias {
  padding: 0;
  list-style: none; }
  .categorias li {
    border-bottom: 1px solid #ddd;
    padding: 8px 0; }

.oferta-laboral {
  margin-bottom: 30px;
  padding-bottom: 10px; }
  .oferta-laboral .empresa {
    display: flex;
    margin-bottom: 10px;
    min-height: 40px;
    align-items: center; }
    .oferta-laboral .empresa .img {
      flex: 1; }
      .oferta-laboral .empresa .img img {
        max-width: 50px;
        max-height: 35px; }
    .oferta-laboral .empresa .nombre {
      flex: 5;
      text-transform: uppercase; }
      .oferta-laboral .empresa .nombre h4 {
        font-size: 16px;
        line-height: 18px; }
      .oferta-laboral .empresa .nombre h5 {
        font-weight: 400;
        line-height: 10px; }
  .oferta-laboral .descripcion {
    max-height: 70px;
    position: relative;
    overflow: hidden;
    color: #647a95;
    font-weight: 300; }
    .oferta-laboral .descripcion .overlay {
      height: 30px;
      position: absolute;
      width: 100%;
      bottom: 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.12) 9%, white 66%, white 72%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.12) 9%, white 66%, white 72%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.12) 9%, white 66%, white 72%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); }

footer {
  background: #3b4858;
  color: white;
  padding: 40px 0 0 0;
  font-family: "Rubik";
  border-top: 3px solid #272f39;
  margin-top: 30px; }
  footer h5 {
    font-size: 16px;
    text-transform: uppercase; }
  footer ul {
    padding: 0;
    list-style: none; }
    footer ul li {
      color: #bec8d4;
      padding: 2px 0; }
    footer ul.flags li {
      max-width: 30px;
      margin-right: 10px;
      display: inline-block; }
      footer ul.flags li img {
        max-width: 100%;
        border-radius: 3px; }
    footer ul.social li {
      display: inline-block;
      margin-right: 10px; }
      footer ul.social li a {
        transition: 0.5s;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        font-size: 20px;
        justify-content: center;
        background: rgba(255, 255, 255, 0.7);
        color: #3b4858; }
        footer ul.social li a:hover {
          background: white;
          transform: scale(1.1); }
  footer .foot {
    margin-top: 20px;
    background: #272f39; }
    footer .foot ul li {
      display: inline-block;
      margin: 10px 10px 10px 0;
      font-size: 12px; }

.modal .modal-dialog .modal-content {
  background-color: white;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border: none; }
  .modal .modal-dialog .modal-content .modal-header {
    background-color: #004E64; }
    .modal .modal-dialog .modal-content .modal-header h4, .modal .modal-dialog .modal-content .modal-header h5 {
      color: white;
      font-weight: 300; }

body, html {
  height: 100%; }

#screen-login {
  background: url("../imagenes/header_login.jpg");
  background-size: cover; }
  #screen-login .login {
    position: relative;
    top: 50%;
    transform: translatey(-50%); }
    #screen-login .login .logo {
      max-width: 130px;
      margin: auto;
      display: block;
      margin-bottom: 20px; }

#screen-login2 {
  background: url("../imagenes/header_login.jpg");
  background-size: cover; }
  #screen-login2 .login {
    position: relative;
    top: 50%;
    transform: translatey(-50%); }
    #screen-login2 .login .logo {
      max-width: 130px;
      margin: auto;
      display: block;
      margin-bottom: 20px; }
  #screen-login2 .social {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    #screen-login2 .social a {
      width: 28%;
      text-align: center; }
      #screen-login2 .social a span {
        font-size: 25px; }
  #screen-login2 .btn-info {
    background: #177E89; }

#create-account .flow article {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #ccc; }
  #create-account .flow article.active {
    border-bottom: 3px solid #1E91D6; }
  #create-account .flow article.success {
    border-bottom: 3px solid #FF9900; }
    #create-account .flow article.success h4, #create-account .flow article.success h6 {
      color: #ccc; }
#create-account .areas .label-default {
  font-size: 13px;
  font-weight: 300;
  padding: 5px 5px 5px 10px;
  margin-right: 7px;
  margin-bottom: 10px;
  display: inline-block; }
  #create-account .areas .label-default span {
    margin: 0 5px;
    font-size: 11px;
    position: relative;
    top: 1px; }
#create-account #subir-cv .modal-dialog {
  width: 320px; }
  #create-account #subir-cv .modal-dialog a {
    text-align: left;
    margin-bottom: 10px;
    padding-top: 5px; }
    #create-account #subir-cv .modal-dialog a span {
      font-size: 20px;
      margin: 0 10px 0 0;
      position: relative;
      top: 2px; }
#create-account .subir-cv a {
  text-align: left;
  display: flex;
  margin: 10px 0; }
  #create-account .subir-cv a span {
    font-size: 40px;
    margin: 0 20px 0 10px;
    color: #004E64; }
#create-account .pegar-cv {
  min-height: 150px; }

#cv h6 {
  text-transform: uppercase; }
#cv .datos-personales .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 300;
  box-shadow: none;
  padding: 0;
  height: 36px; }
#cv .datos-personales label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300; }

#buscador {
  position: relative; }
  #buscador .resultados {
    position: absolute;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 10px;
    background: white; }
    #buscador .resultados ul {
      list-style: none;
      padding: 0; }
      #buscador .resultados ul li {
        border-bottom: 1px solid #ddd;
        padding: 7px 0; }
        #buscador .resultados ul li.titulo {
          border: none;
          padding: 5px 0; }
          #buscador .resultados ul li.titulo h6 {
            text-transform: uppercase; }
            #buscador .resultados ul li.titulo h6 small {
              float: right; }
        #buscador .resultados ul li:last-child {
          border: none; }
        #buscador .resultados ul li article {
          display: flex;
          align-items: center; }
          #buscador .resultados ul li article .img {
            flex: 1;
            margin-right: 15px; }
            #buscador .resultados ul li article .img img {
              max-width: 100%; }
          #buscador .resultados ul li article .info {
            flex: 10; }
            #buscador .resultados ul li article .info h4 {
              margin: 0;
              font-size: 15px;
              font-weight: 400;
              margin-bottom: 2px; }
            #buscador .resultados ul li article .info h5 {
              margin: 0;
              color: #4f6177;
              font-size: 13px;
              font-weight: 300;
              margin-top: 2px; }

#resultado-busqueda {
  background: #f7f7f7; }
  #resultado-busqueda .well {
    background: white;
    padding: 15px;
    margin: 0;
    overflow: auto;
    position: relative; }
  #resultado-busqueda .separador {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  #resultado-busqueda h3 {
    margin: 30px 0; }
  #resultado-busqueda .filtros article {
    margin-bottom: 30px; }
    #resultado-busqueda .filtros article h6 {
      text-transform: uppercase;
      background: #004e64;
      color: white;
      padding: 5px;
      font-weight: 400; }
    #resultado-busqueda .filtros article ul {
      list-style: none;
      padding: 0; }
      #resultado-busqueda .filtros article ul li {
        text-transform: uppercase;
        border-bottom: 1px solid #d0d0d0;
        padding: 5px 0;
        font-size: 11px; }
        #resultado-busqueda .filtros article ul li small {
          float: right; }
  #resultado-busqueda .filtros-activos .label-default {
    font-size: 13px;
    font-weight: 300;
    padding: 5px 5px 5px 10px;
    margin-right: 7px;
    margin-bottom: 10px;
    display: inline-block; }
    #resultado-busqueda .filtros-activos .label-default span {
      margin: 0 5px;
      font-size: 11px;
      position: relative;
      top: 1px; }
  #resultado-busqueda .ordenar p {
    margin: 5px 0 0 0; }
  #resultado-busqueda .ordenar form {
    text-align: right; }
    #resultado-busqueda .ordenar form label {
      font-weight: 400;
      color: #647a95; }
    #resultado-busqueda .ordenar form select {
      border: none;
      background: none;
      box-shadow: none;
      position: relative;
      top: -2px;
      font-weight: 700; }
  #resultado-busqueda h2 {
    color: #004E64;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    border-bottom: 1px #004E64 solid; }
  #resultado-busqueda .oferta-laboral {
    margin-bottom: 10px; }
    #resultado-busqueda .oferta-laboral .well {
      background: white;
      padding: 15px;
      margin: 0;
      overflow: auto;
      position: relative; }
      #resultado-busqueda .oferta-laboral .well .empresa {
        display: flex; }
        #resultado-busqueda .oferta-laboral .well .empresa .img {
          flex: 1;
          margin-right: 10px; }
        #resultado-busqueda .oferta-laboral .well .empresa .nombre {
          flex: 15; }
          #resultado-busqueda .oferta-laboral .well .empresa .nombre .compatibilidad {
            position: absolute;
            float: right;
            top: 10px;
            right: 10px; }
            #resultado-busqueda .oferta-laboral .well .empresa .nombre .compatibilidad span {
              color: #666; }
          #resultado-busqueda .oferta-laboral .well .empresa .nombre h4, #resultado-busqueda .oferta-laboral .well .empresa .nombre h5 {
            margin: 0; }
          #resultado-busqueda .oferta-laboral .well .empresa .nombre h4 {
            text-transform: none; }
          #resultado-busqueda .oferta-laboral .well .empresa .nombre h4 {
            margin-bottom: 5px; }
          #resultado-busqueda .oferta-laboral .well .empresa .nombre small {
            font-size: 11px;
            color: #1E91D6;
            text-transform: lowercase; }
      #resultado-busqueda .oferta-laboral .well .zona {
        display: inline-block; }
      #resultado-busqueda .oferta-laboral .well .aplicar {
        float: right; }

@media only screen {
  @-ms-viewport {
    width: device-width; } }
.line {
  overflow: hidden;
  text-align: center; }
  .line:after, .line:before {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%; }
  .line:before {
    right: 0.5em;
    margin-left: -50%; }
  .line:after {
    left: 0.5em;
    margin-right: -50%; }

header {
  background: url("../imagenes/header_home.jpg");
  background-size: cover;
  padding: 150px 0;
  background-position-y: -100px; }
  header h2 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
    header h2 small {
      color: white; }

.buscador-header {
  display: flex; }
  .buscador-header input {
    border-radius: 0;
    flex: 1;
    border: none;
    font-family: "Rubik";
    font-weight: 300;
    font-size: 15px;
    box-shadow: none; }
    .buscador-header input[type=text] {
      flex: 2;
      padding-left: 0;
      border-left: 0; }
      .buscador-header input[type=text]:first-child {
        border-right: 1px solid #ccc; }
  .buscador-header span {
    background: white;
    border: none;
    font-size: 22px;
    padding: 10px;
    min-width: 40px;
    color: #bbb;
    box-shadow: none; }
    .buscador-header span.divider {
      min-width: 1px;
      border-left: 1px solid #ccc;
      padding: 0; }

/*# sourceMappingURL=style.css.map */
