#dashboard-empresa-all{
	.datos{
		.profile{
			display: block;
			max-width: 150px;
			margin: auto;
		}

		.items{
			label{
				font-size: 11px;
				font-weight: 300;
				text-transform: uppercase;
				display: block;
			}

			p{
				margin-bottom: 20px;
				.actions{
					display: none;
					margin-left: 10px;
					span{
						margin-right: 5px;

						&.fa-trash{
							color: red;
						}
					}
				}

				&:hover{
					.actions{
						display: inline-block;

					}
				}
			}
		}
	}
}
