#institucional{
	header{
		padding: 100px 0;
		background: $main-color;
		color: white;
		.birpin{
			max-width: 150px;
		}
		h1{
			color: white;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 300;
			display: block;
			&:before{
				content: "";
				display: block;
				width: 100px;
				height: 3px;
				background: white;
				margin-bottom: 15px;
			}
		}

		.print{
			float: right;
		}
	}
}