@import "../bootstrap/css/bootstrap.min.css";
@import "../ionicons/css/ionicons.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Rubik:300,400,500,700');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "vars";
@import "bootstrap-update";
@import "theme";
@import "componentes";
@import "buttons";
@import "navbar";
@import "wall"; 
@import "footer";
@import "modal";
@import "notificaciones";


@import "screen-login";
@import "create-account";
@import "tablas";

@import "cv";
@import "buscador";
@import "resultado-busqueda"; 
@import "index";

@import "anuncio"; 
@import "timeline"; 

@import "dashboard-editores"; 

@import "dashboard-empresa"; 
@import "dashboard-anuncio"; 

@import "timeline-user"; 

@import "mailing"; 

@import "usuario-postulaciones";
@import "comprar-credito";
@import "valuacion-actores";

@import "alta-aviso";
@import "alta-aviso-settings";

@import "institucional";
@import "validar-email";

@import "alta-cv";

@import "forgot-password";
@import "muro-usuario-contactos";
@import "muro-usuario-cv";

@import "muro-usuario-empresas";
@import "parseando";

@import "wizards-cv";


@media only screen {
    @-ms-viewport { width: device-width; }
}

.line{
	overflow: hidden;
    text-align: center;
	&:after, &:before{
		background-color: #ccc;
	    content: "";
	    display: inline-block;
	    height: 1px;
	    position: relative;
	    vertical-align: middle;
	    width: 50%;
	}
	&:before {
	    right: 0.5em;
	    margin-left: -50%;
	}
	&:after {
	    left: 0.5em;
	    margin-right: -50%;
	}
}

header{
	background: url("../imagenes/header_home.jpg");
	background-size: cover;
	padding: 150px 0;
	background-position-y: -100px;
	//background-attachment: fixed;
	h2{
		color: white;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
		small{
			color: white;
		}
	}
}


.buscador-header{
	display: flex;
	input{
		border-radius: 0;
		flex:1;
		border: none;
		font-family: $title-font;
		font-weight: 300;
		font-size: 15px;
		box-shadow: none;
		&[type=text]{
			flex: 2;
			padding-left: 0;
			border-left: 0;
			&:first-child{
				border-right: 1px solid #ccc;
			}
		}

	}

	span{
		background: white;
	    border: none;
	    font-size: 22px;
	    padding: 10px;
	    min-width: 40px;
	    color: #bbb;
	    box-shadow: none;
	    &.divider{
	    	min-width: 1px;
	    	border-left: 1px solid #ccc;
	    	padding: 0;
	    }
	}
}

.margintop20{
	margin-top: 20px;
}
.clearfix{
	overflow: auto;
}



.mini-pin{
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #cdcdcd;
	color: white;
	display: inline-block;
	&.ok{
		background: limegreen;
	}
	&.warning{
		background: gold;
	}
	&.out{
		background: red;
	}

	&.waiting{ 
		background: orange;
	}

	&.action{
		background: DodgerBlue;
	}
}

.semaforo{
	span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		margin: 0 5px;
		border: 1px solid white;
		&.ok{
			background: darken(limegreen, 25%);
			&.on{
				background: limegreen;
				box-shadow: 0 0 10px limegreen;
			}
		}

		&.warning{
			background: darken(gold, 25%);
			&.on{
				background: gold;
				box-shadow: 0 0 10px gold;
			}
		}

		&.out{
			background: darken(red, 25%);
			&.on{
				background: red;
				box-shadow: 0 0 10px red;
			}
		}
	}

	&.mini{
		span{
			width: 10px;
			height: 10px;
		}
	}
}

.vcenter{
	display: flex;
	align-items: center;
	justify-content: center;
}


.blanco{
	color: white;
}

.texto-rojo{
	color: red;
}

.texto-verde{
	color: limegreen;
}


.alert-context{
	padding: 10px;
	border-radius: 3px;

	p{ 
		margin: 0;
	}
}

.light{
	color: #999;
}
